:root {
  --notch-size: 28px;
  --notch-gap: 4px;

  --color-white: white;
  --color-black: #000000;
  --color-dark:  #808080;
  --color-light: #C0C0C0;
}
[data-theme='gray'] {
  --color-black: #000000;
  --color-dark:  #808080;
  --color-light: #C0C0C0;
}
[data-theme='red'] {
  --color-black: #140000;
  --color-dark:  #C20D0D;
  --color-light: #F87B57;
}
[data-theme='orange'] {
  --color-black: #120F05;
  --color-dark:  #C05A3C;
  --color-light: #F9A040;
}
[data-theme='yellow'] {
  --color-black: #0F0F00;
  --color-dark:  #BA779A;
  --color-light: #EAC300;
}
[data-theme='green'] {
  --color-black: #001414;
  --color-dark:  #0C7064;
  --color-light: #58DD8B;
}
[data-theme='blue'] {
  --color-black: #152B30;
  --color-dark:  #077593;
  --color-light: #64C8FA;
}
[data-theme='lavender'] {
  --color-black: #0D0020;
  --color-dark:  #754671;
  --color-light: #A799CC;
}
[data-theme='violet'] {
  --color-black: #05001E;
  --color-dark:  #6531A0;
  --color-light: #BB81C8;
}

@font-face {
  font-family: 'Alkhemikal';
  src: url(/Alkhemikal.ttf);
}

html {
  background: var(--color-black);
  color: var(--color-white);
  font-family: 'Alkhemikal';
}

h1 {
  font-size: 4rem;
  font-weight: normal;
}

label {
  font-size: 1.5rem;
}

input, select {
  background: var(--color-dark);
  outline: none;
  border: none;
  padding: 4px;
  font-size: 1.5rem;
  font-family: 'Alkhemikal';
  color: var(--color-white);
}

.input-group {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.translated {
  border: 4px solid var(--color-dark);
  width: 100%;
  height: 32px;
  margin: 16px 0;
  padding: 8px;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.serialized {
  width: 100%;
  height: 64px;
  margin: 16px 0;
  font-family: 'Alkhemikal';
  font-size: 16px;
  background: var(--color-dark);
  color: var(--color-white);
  border: none;
  padding: 4px;
}

.glyphs-wrapper {
  max-width: 800px;
  height: 572px;
  overflow: auto;
  .glyphs-rows {
    display: flex;
    flex-direction: column;
    gap: var(--notch-gap);

    .glyphs-row {
      display: flex;
      gap: var(--notch-gap);
    }
  }
}

.glyph {
  display: grid;
  grid-template-columns: var(--notch-size) var(--notch-size) var(--notch-size);
  grid-template-rows: var(--notch-size) var(--notch-size) var(--notch-size);
  gap: var(--notch-gap);
  background: var(--color-black);

  .glyph-notch {
    background: var(--color-dark);
    display: block;
    width: var(--notch-size);
    height: var(--notch-size);

    &.active {
      background: var(--color-light);
    }
  }
}